{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <title>Title</title>
    <link rel="stylesheet" href="{% static  'plugins/bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static  'plugins/font-awesome/css/font-awesome.css'%}">
    <style>
        .login{
            border: 1px solid black;
            width: 500px;
            height: 300px;
            box-shadow: 50px 50px 500px #aaa;
            margin: 100px auto 0;
            padding: 30px 20px;
        }
        h2{
            text-align:center;
        }

    </style>
</head>
<body>
<div class="login">
    <form method="post" novalidate>
        {% csrf_token%}
        <h2>用户登录</h2>

        <div class="form-group">
            <label>用户名</label>
<!--            <input type="email" class="form-control"  placeholder="用户名">-->
            {{form.username}}
            <span>{{form.username.errors.0}}</span>
        </div>
        <div class="form-group">
            <label >密码</label>
<!--            <input type="password" class="form-control" placeholder="密码">-->
            {{form.password}}
            <span>{{form.password.errors.0}}</span>
        </div>

         <div class="form-group">
            <label for="id_code">图片验证码</label>
            <div class="row">
                <div class="col-xs-7">
                    {{ form.code }}
                    <span style="color: red;">{{ form.code.errors.0 }}</span>
                </div>
                <div class="col-xs-5">
                    <img id="image_code" src="/image/code/" style="width: 125px;">
                </div>
            </div>
        </div>



        <button type="submit" class="btn btn-success">登录</button>

    </form>


</div>
</body>
</html>